.form#order-form
  .wrapper

    .form-thank-you
      .thank-you-text
        .bolder.big Спасибо!
        Мы свяжемся с вами до
        %span.bolder 18:00
        по Московскому времени
        ближайшего рабочего дня


    .form-block
      .form-title
        Оставьте заявку на звонок
        %br
        и мы вам перезвоним в течение 15 минут



      %form
        %input{type: :text, name: :username, placeholder: 'Как вас зовут?'}
        %input{type: :text, name: :phone, placeholder: 'Ваш номер телефона'}
        .button.send-form
          Отправить
