#intro
  .title
    Разработка
    %span.bold Landing Page
    под ключ

    .small
      Разработка и провижение страниц захвата,
      %br
      настройка Яндекс Директ, Google Adwords



  .buttons
    .button#scroll-to-form
      Заказать LP

    .button#scroll-to-cases
      Наши работы


%section#portfolio
  .wrapper.relative
    .title
      Наши работы
    .works.clearfix


      .work
        .image
          %img{src: '/images/works/brail.jpg'}
        .about
          .name
            %a{href: '#'}
              ООО "Брэйл"
          .content
            Компания занимается системной интеграцией. Задачей было сделать
            комплексный мультилендинг под все направления деятельности компании.
            %br
            %br
            %br


          %a.button{href: 'http://brail.retto.ru', target: '_blank'} Открыть лэндинг

      .work
        .image
          %img{src: '/images/works/rzkm2.jpg'}
        .about
          .name
            %a{href: '#'}
              РЗКМ
          .content
            Страница захвата для Ростовского завода
            композитных материалов. Получилась очень желтой, крайней информативной и предельно лаконичной.

            %br
            %br
            %br

            %a.button{href: 'http://rzkm.retto.ru', target: '_blank'} Открыть лэндинг

      .work
        .image
          %img{src: '/images/works/divnie.jpg'}
        .about
          .name
            %a{href: '#'}
              Дивные Окна
          .content
            Лэндинг для компании, входящей в топ-10 рынка пластиковых окон в Москве.

            %br
            %br
            %br
            %br
            %br


            %a.button{href: 'http://okna.retto.ru', target: '_blank'} Открыть лэндинг


      .work
        .image
          %img{src: '/images/works/mimicase.jpg'}
        .about
          .name
            %a{href: '#'}
              Mimimcase
          .content
            Лэндинг для оптовой продажи подарочных чехлов для смартфонов.
            %br
            %br
            %br
            %br


          %a.button{href: 'http://mimicase.retto.ru', target: '_blank'} Открыть лэндинг



      .work
        .image
          %img{src: '/images/works/kaleva.jpg'}
        .about
          .name
            %a{href: '#'}
              Окна Калева
          .content
            Один из серии лэндингов для компании Калева.
            %br
            %br
            %br
            %br


          %a.button{href: 'http://kaleva.retto.ru', target: '_blank'} Открыть лэндинг


      .work
        .image
          %img{src: '/images/works/chiptuning.jpg'}
        .about
          .name
            %a{href: '#'}
              Чиптюнинг автомобилей
          .content
            Страница захвата под услугу "Чиптюнинг автомобиля"
            %br
            %br
            %br
            %br


          %a.button{href: 'http://mimicase.retto.ru', target: '_blank'} Открыть лэндинг


%section.striped
  .wrapper


    #price.price-rouble
      16 500

    .price-about
      Стоимость одной страницы захвата "под ключ"


= haml :form

