.modal-overlay
.modal-form
  .text
    Мы знаем ответ на этот вопрос.
    %br
    %br
    Оставьте ваши контактные данные в форме справа и мы расскажем вам этот секрет.
  .form
    %input{type: :text, name: :username, placeholder: 'Ваше имя... *'}
    %input{type: :text, name: :phone, placeholder: 'Ваш телефон... *'}
    %input{type: :text, name: :email, placeholder: 'Ваш email...'}
    .button#send-form
      Отправить


.modal-thank-you
  .modal-header
    Спасибо!
  .body
    Мы свяжемся с вами очень скоро.
    .button#hide-thank-you
      Я буду ждать